
<div id="viewer">


  <!-- Top Nav -->
  <%= render "navbar" %>

  <!-- Search -->
  <div id="search_container">
  </div>

  <!-- Issue Viewer -->
  <div id="map_container" class="container-fluid">
    <div id="map"></div>
  </div>

</div>
