<%= render "navbar" %>

<div class="container corrector" id="profile">
  
  <!-- profile_header -->
  <div class="row">
    <div class="col-md-12" id="profile_header">
      <h1><%= t('corrector.profile') %></h1>
      <p style="text-align: center;">Place her any account information regarding your users.</p>
    </div>
  </div>

</div>